<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/card.css' />
</head>
<body>
<div class="container">
    <main role="main" class="pb-3">
        <div class="card-container" onclick="document.querySelector('.card').classList.toggle('flipped')">
            <div class="card">
                <div class="card-face card-front">
                    <span class="card-number">4444 4444 4444 4444</span>
                    <span class="card-date">01/24</span>
                    <img class="valid-thru" src="/img/valid_thru.svg" alt="">
                    <img class="world" src="/img/world.svg" alt="">
                </div>
                <div class="card-face card-back">
                    <div class="cvv-wrapper">
                        <div class="cvv-zebra">
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                            <div class="zebra"></div>
                        </div>
                        <div class="cvv-block">666</div>
                    </div>
                    <div class="card-stripe"></div>
                </div>
            </div>
        </div>
<!--        <div class="card-scale">-->
<!--            <div class="card-container" onclick="document.querySelector('.card').classList.toggle('flipped')">-->
<!--                <div class="card">-->
<!--                    <div class="card-face card-front">-->
<!--                        <span class="card-number">4444 4444 4444 4444</span>-->
<!--                        <span class="card-date">01/24</span>-->
<!--                        <img class="valid-thru" src="/img/valid_thru.svg" alt="">-->
<!--                        <img class="world" src="/img/world.svg" alt="">-->
<!--                    </div>-->
<!--                    <div class="card-face card-back">-->
<!--                        <div class="cvv-wrapper">-->
<!--                            <div class="cvv-zebra">-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                                <div class="zebra"></div>-->
<!--                            </div>-->
<!--                            <div class="cvv-block">666</div>-->
<!--                        </div>-->
<!--                        <div class="card-stripe"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </main>
</div>
</body>
</html>
